<h3>Issues</h3>

<div class="card card-issues">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action" *ngFor="let issue of issues">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-2">
          <div class="row">
            <div class="col-sm-6">
              <a [routerLink]="[ '/issues', issue.issueId ]" [ngClass]="{'text-info': issue.priority === 'Low', 'text-warning': issue.priority === 'High', 'text-danger': issue.priority === 'Urgent'}">#{{issue.issueId}}</a>
            </div>
            <div class="col-sm-6">
              <span class="badge" [ngClass]="{'badge-primary': issue.state === 'Open', 'badge-info': issue.state === 'Feedback', 'badge-secondary': issue.state === 'Paused', 'badge-warning': issue.state === 'Pending', 'badge-success': issue.state === 'Resolved', 'badge-danger': issue.state === 'Closed'}">{{issue.state}}</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div>
            <a [routerLink]="[ '/issues', issue.issueId ]" [ngClass]="{'text-info': issue.priority === 'Low', 'text-warning': issue.priority === 'High', 'text-danger': issue.priority === 'Urgent'}">
              <strong>{{issue.title}}</strong>
            </a>
          </div>
          <div class="row">
            <div class="col-auto">
              <small><strong>{{issue.tracker.title}}</strong></small>
            </div>
            <div class="col-auto text-secondary">
              <small>Created by {{issue.author?.firstName}} {{issue.author?.lastName}} on {{issue.createDate | date:'short'}}</small>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<br />

<nav class="d-flex justify-content-center">
  <div class="btn-group">
    <button id="itemsPerPageButton" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Items per page {{currentItemsPerPage}}</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" *ngFor="let items of itemsList" [ngClass]="{'active': items === currentItemsPerPage}" routerLink="/issues" [queryParams]="{ items: items, page: currentPage }">{{items}}</a>
    </div>
  </div>

  <div class="mx-2"></div>

  <ul class="pagination mb-0">
    <li class="page-item" [ngClass]="{'disabled': currentPage == 1}">
      <a class="page-link" routerLink="/issues" [queryParams]="{ items: currentItemsPerPage, page: currentPage - 1 }">
        <span>&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [ngClass]="{'disabled': page == null, 'active': page == currentPage}">
      <a class="page-link" routerLink="/issues" [queryParams]="{ items: currentItemsPerPage, page: page }">{{page == null ? '...' : page}}</a>
    </li>
    <li class="page-item" [ngClass]="{'disabled': currentPage == pageCount}">
      <a class="page-link" routerLink="/issues" [queryParams]="{ items: currentItemsPerPage, page: currentPage + 1 }">
        <span>&raquo;</span>
      </a>
    </li>
  </ul>
</nav>