<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/issues">Issues</a>
    </li>
    <li class="breadcrumb-item active">#{{issueId}}</li>
  </ol>
</nav>

<div *ngIf="issue">
  <div class="row">
    <div class="col">
      <h5 class="text-secondary">
        <span class="badge" [ngClass]="{'badge-info': issue.priority === 'Low', 'badge-secondary': issue.priority === 'Normal', 'badge-warning': issue.priority === 'High', 'badge-danger': issue.priority === 'Urgent'}">{{issue.priority}}</span>
        <span>&nbsp;</span>
        <span>{{issue.tracker.title}}</span>
        <span>&nbsp;</span>
        <span class="font-weight-light">#{{issue.issueId}}</span>
      </h5>
      <h6 class="text-secondary font-weight-normal">
        <span class="badge" [ngClass]="{'badge-primary': issue.state === 'Open', 'badge-info': issue.state === 'Feedback', 'badge-light': issue.state === 'Paused', 'badge-warning': issue.state === 'Pending', 'badge-success': issue.state === 'Resolved', 'badge-secondary': issue.state === 'Closed'}">{{issue.state}}</span>
        <span>&nbsp;</span>
        <span>Created by {{issue.author?.firstName}} {{issue.author?.lastName}} on {{issue.createDate | date:'short'}}</span>
      </h6>
      <h3>
        <span class="font-weight-normal">{{issue.title}}</span>
      </h3>
    </div>
    <div class="col-auto d-flex align-items-end">
      <a class="btn btn-outline-dark btn-sm mb-2" [routerLink]="[ '/issues', issue.issueId, 'edit' ]">Edit</a>
    </div>
  </div>

  <div class="card border-dark">
    <div class="card-body" [innerHtml]="content"></div>
  </div>

  <div class="timeline" *ngIf="timelines">
    <div class="timeline-item" [ngClass]="{'timeline-item-history': t.type === 'History', 'timeline-item-comment': t.type === 'Comment'}" *ngFor="let t of timelines">
      <div *ngIf="t.type === 'History' && t.historyType === 'Title'">
        <div class="timeline-item-icon"><i class="mdi mdi-pencil"></i></div>
        <div class="timeline-item-body">
          Changed the title from <strong>{{t.oldValue}}</strong> to <strong>{{t.newValue}}</strong> on {{t.date | amFromUtc | amLocal | amCalendar}}
        </div>
      </div>

      <div *ngIf="t.type === 'History' && t.historyType === 'Description'">
        <div class="timeline-item-icon"><i class="mdi mdi-square-edit-outline"></i></div>
        <div class="timeline-item-body">
          Changed the description (<abbr title="Coming soon">diff</abbr>) on {{t.date | amFromUtc | amLocal | amCalendar}}
        </div>
      </div>

      <div *ngIf="t.type === 'History' && t.historyType === 'Tracker'">
        <div class="timeline-item-icon"><i class="mdi mdi-ticket-outline"></i></div>
        <div class="timeline-item-body">
          Changed the tracker from <strong>{{trackers[t.oldValue]}}</strong> to <strong>{{trackers[t.newValue]}}</strong> on {{t.date | amFromUtc | amLocal | amCalendar}}
        </div>
      </div>

      <div *ngIf="t.type === 'History' && t.historyType === 'Priority'">
        <div class="timeline-item-icon">
          <i class="mdi" [ngClass]="priorities[t.newValue] > priorities[t.oldValue] ? 'mdi-priority-high': 'mdi-priority-low'"></i>
        </div>
        <div class="timeline-item-body">
          Changed the priority from <strong>{{t.oldValue}}</strong> to <strong>{{t.newValue}}</strong> on {{t.date | amFromUtc | amLocal | amCalendar}}
        </div>
      </div>

      <div *ngIf="t.type === 'Comment'">
        <div class="card border-secondary">
          <div class="card-header text-secondary px-3 py-2">Commented on {{t.date | amFromUtc | amLocal | amCalendar}}</div>
          <div class="card-body px-3 py-2" [innerHtml]="t.content"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-primary mt-3_5">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="nav-source-tab" data-toggle="tab" href="#nav-source" role="tab">Write</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab">Preview</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="nav-tab-content">
        <div class="tab-pane fade show active" id="nav-source" role="tabpanel">
          <textarea class="form-control" name="comment" id="comment" rows="4" [(ngModel)]="comment" (ngModelChange)="onCommentChanged()"></textarea>
        </div>
        <div class="tab-pane fade" id="nav-preview" role="tabpanel">
          <div [innerHtml]="preview"></div>
        </div>
      </div>
    </div>
    <div class="card-footer border-primary text-right">
      <button type="button" class="btn btn-outline-primary" (click)="addComment()">Comment</button>
    </div>
  </div>
</div>