@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.timeline {
    position: relative;

    &::after {
        content: ' ';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid $gray-300;
    }
}

.timeline-item {
    position: relative;

    &::before {
        content: ' ';
        position: absolute;
        height: 100%;
        top: 0;
        left: 1.25rem;
        border-left: 2px solid $gray-300;
    }

    .timeline-item-icon {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: .7rem;
        left: .25rem;
        background-color: $gray-300;
        border: 2px solid $white;
        border-radius: 50%;
        text-align: center;
        font-size: 1.2rem;
        color: darken($primary, 10%);
    }

    .timeline-item-body {
        position: relative;
        padding: 1rem 0 1rem 1.75rem;
        color: $gray-600;

        strong {
            color: $black;
        }

        &::after {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $gray-300;
        }
    }

    &.timeline-item-history {
        padding-left: 1.25rem;

        &:last-child {
            .timeline-item-body:after {
                height: 0;
            }
        }
    }

    &.timeline-item-comment {
        padding-top: 1.25rem;

        &:last-child {
            padding-bottom: 1.25rem;
        }
    }
}