<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/issues">Issues</a>
        </li>
        <li class="breadcrumb-item active">
            <a [routerLink]="[ '/issues', issueId ]">#{{issueId}}</a>
        </li>
    </ol>
</nav>

<form *ngIf="issue">
  <div class="form-group row">
    <label for="tracker" class="col-sm-2 col-md-2 col-lg-1 col-form-label">Tracker</label>
    <div class="col-sm-5 col-md-6 col-lg-8">
      <select class="form-control" name="tracker" id="tracker" [(ngModel)]="issue.tracker" [compareWith]="compareIssueTracker">
        <option *ngFor="let tracker of trackers" [ngValue]="tracker">{{tracker.title}}</option>
      </select>
    </div>

    <label for="priority" class="col-sm-2 col-md-2 col-lg-1 col-form-label">Priority</label>
    <div class="col-sm-3 col-md-2 col-lg-2">
      <select class="form-control" name="priority" id="priority" [(ngModel)]="issue.priority">
          <option value="Low">Low</option>
          <option value="Normal">Normal</option>
          <option value="High">High</option>
          <option value="Urgent">Urgent</option>
        </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-md-2 col-lg-1 col-form-label">Title</label>
    <div class="col">
      <input type="text" class="form-control" name="title" id="title" [(ngModel)]="issue.title" />
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-md-2 col-lg-1 col-form-label">Description</label>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="nav-source-tab" data-toggle="tab" href="#nav-source" role="tab">Write</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab">Preview</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="nav-tab-content">
            <div class="tab-pane fade show active" id="nav-source" role="tabpanel">
              <textarea class="form-control" name="description" id="description" rows="16" [(ngModel)]="issue.description" (ngModelChange)="onDescriptionChanged()"></textarea>
            </div>
            <div class="tab-pane fade" id="nav-preview" role="tabpanel">
              <div [innerHtml]="preview"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-2 offset-md-2 offset-lg-1 col">
      <button type="button" class="btn btn-success" (click)="saveChanges()">Save changes</button>
    </div>
  </div>
</form>