<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/issues">Issues</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-lg-0">
                <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-sm btn-outline-success mt-2 mt-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<main role="main" class="container-fluid flex-fill">
    <router-outlet></router-outlet>
</main>

<footer class="mt-3">
    <div class="container-fluid bg-light">
        <div class="p-4 text-center">THIS IS FOOTER!</div>
    </div>
</footer>