@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$low-color: #fff;
$normal-color: #56575a;
$high-color: #242222;
$urgent-color: #fff;

$low-bg-color: lighten($info, 10%);
$normal-bg-color: #f0f1f1;
$high-bg-color: $warning;
$urgent-bg-color: $danger;

html, body, app-root {
    height: 100%;
    min-height: 100%;
}

.blockquote {
    background: #f9f9f9;
    border-left: 4px solid #ccc;
    padding: 10px;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 3em;
        line-height: 0;
        vertical-align: -0.4em;
    }

    p {
        display: inline;
    }
}

.badge {
    vertical-align: bottom;
}

.mt-3_5 {
    margin-top: 1.25rem;
}